﻿body {
    font-family: 'Angsana New';
    font-size: 27px;
}

p {
    font-size: 30px;
    margin: 0 5px;
}

.text-red {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    page-break-inside: auto;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

thead {
    display: table-header-group;
}

th {
    border-collapse: collapse;
    border: 1px solid black;
    page-break-inside: auto;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    page-break-inside: auto;
    word-break: break-word;
}

.company-name {
    width: 80%;
    vertical-align: bottom;
    font-weight: normal;
}

.count {
    width: 20%;
    vertical-align: bottom;
    font-weight: normal;
}

.table-header {
    width: 50%;
    height: 45px;
    vertical-align: middle;
    padding: 20px 0;
}

.no-border {
    border: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.table-topic {
    margin-left: 40px;
    width: 100%;
    border-collapse: collapse;
}

.td-firstpage-topic {
    width: 25%;
    font-size: 30px;
}

.td-firstpage-result {
    width: 75%;
    font-size: 30px;
}

.footer {
    left: 20px;
    bottom: 20px;
    z-index: 1;
    width: 100%;
    float: right;
    clear: both;
    margin: 0 30px 5px 0;
    text-align: center;
}

.footer-small {
    float: right;
    clear: both;
    margin: 0 30px 5px 0;
    text-align: center;
}

.text-top {
    vertical-align: top;
}

.report-header {
    font-size: 24px;
}

.report-details {
    font-size: 24px;
    letter-spacing: 0.3px;
}

.break-after {
    page-break-after: auto;
    page-break-inside: avoid;
}